@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#B233F5, #EF4BF5);
}

main {
    background-color: #CB5DF4;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color: #7D43F5;
   text-align: center;
   text-shadow: 4px 4px 5px black;
}

h2 {
   color: #66B0F4;
}

p {
    text-align: justify;
}