*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
    font-size: x-large;
}
/*
body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
 */

    
body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(76, 76, 240);
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: darkcyan;
}
body a {
    text-align: right;
}